{% extends 'base.html.twig' %}

{% block title %}La Nimes'alerie - Connexion{% endblock %}

{% block body %}
    <div class="container-fluid g-0">
        <h2 class="mt-5 text-center text-secondary">Vous connecter</h2>
        <div class="d-flex flex-column align-items-center my-5 text-secondary">
            <form method="post" class="d-flex flex-column">
                <div class="d-flex align-items-center justify-content-between my-4 fs-5">
                    <div>Se connecter</div>
                    <a href="{{ path ('app_register') }}" class="text-warning">S'inscrire</a>
                </div>
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
    
                {% if app.user %}
                    <div class="mb-3">
                        Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">se déconnecter</a>
                    </div>
                {% endif %}
                <div class="mb-3">
                    <label for="inputEmailuser" class="form-label">Adresse mail</label>
                    <input type="email" value="{{ last_username }}" name="emailuser" id="inputEmailuser" class="form-control" autocomplete="email" required autofocus>
                </div>
                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Votre mot de passe</label>
                    <input type="password" name="pwduser" id="inputPassword" class="form-control" autocomplete="current-password" required>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="mb-3 form-check">
                    <input type="checkbox" name="_remember_me" class="form-check-input p_checkbox">
                    <label class="form-check-label">Rester connecté</label>
                </div>
                <div class="mb-2"><a href="{{ path('app_forgot_password_request') }}" class="text-secondary">Mot de passe oublié ?</a></div>
                <button class="btn btn-warning text-white" type="submit">Envoyer</button>
            </form>
        </div>
    </div>
{% endblock %}
