{% extends 'base.html.twig' %}

{% block title %}La Nimes'alerie - Inscription{% endblock %}

{% block body %}
    <div class="container-fluid g-0">
        <h2 class="mt-5 text-center text-secondary">Vous inscrire</h2>
    
        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
        <div class="d-flex flex-column align-items-center my-5 text-secondary">
            {{ form_start(registrationForm, {'attr': {'class': 'd-flex flex-column', 'id': 'activeForm'}, 'method': 'POST'}) }}
                <div class="d-flex align-items-center justify-content-between my-4 fs-5">
                    <a href="{{ path ('app_login') }}" class="text-warning">Se connecter</a>
                    <div>S'inscrire</div>
                </div>
                <div class="mb-3"> <!-- Input du form pour l'email -->
                    {{ form_label(registrationForm.emailuser, "Votre email", {'attr': {'class': 'form-label'}}) }}
                    {{ form_widget(registrationForm.emailuser, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3"> <!-- Input du form pour le mot de passe -->
                    {{ form_label(registrationForm.plainPassword, "Votre mot de passe", {'attr': {'class': 'form-label'}}) }}
                    {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
                </div>
                <!-- 
                    info
                    perso
                -->
                <p>Vos informations personnelles : </p>
                {{ form_widget(registrationForm.gender, {'attr': {'class': 'form-select mb-3 d-flex justify-content-evenly'}}) }}
                <div class="mb-3"> <!-- Input du form pour Prénom -->
                    {{ form_label(registrationForm.firstnameuser, "Votre prénom", {'attr': {'class': 'form-label'}}) }}
                    {{ form_widget(registrationForm.firstnameuser, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3"> <!-- Input du form pour Nom -->
                    {{ form_label(registrationForm.lastnameuser, "Votre nom", {'attr': {'class': 'form-label'}}) }}
                    {{ form_widget(registrationForm.lastnameuser, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3"> <!-- Input du form pour la date de naissance -->
                    {{ form_label(registrationForm.birthuser, "Votre date de naissance", {'attr': {'class': 'form-label'}}) }}
                    {{ form_widget(registrationForm.birthuser, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input p_checkbox'}}) }}
                    <a href=" {{ path ('app_cgu') }} ">{{ form_label(registrationForm.agreeTerms, "Accepter les termes d'utilisation") }}</a>
                </div>
    
                <button type="submit" class="btn btn-warning text-white">Envoyer</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
