<section class="container-fluid d-flex flex-column py-5 text-white color_form">
    <div class="text-center mb-lg-5 mb-3">
        
        <h1>
            {% if form.nameBrand.vars.value != null %}
                Modifier
            {% endif %} 
            {% if form.nameBrand.vars.value is empty %}
                Ajouter
            {% endif %}
            une marque
        </h1>
        <p>Vous pouvez ajouter une nouvelle marque via le formulaire ci dessous.</p>
    </div>
    <div class="text-danger fw-bold text-center fs-4">
        {{ form_errors(form.Logo) }}
    </div>
    {{ form_start(form, {'attr': {'class': 'd-flex flex-column'}, 'method': 'POST'}) }}
    <div class="row m-md-4 m-2 p-3 text-white bg-secondary rounded-3">
        <div class="col-lg-6 col-12 mb-3">
            {{ form_label(form.nameBrand, "Nom de la marque", {'attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.nameBrand, {'attr': {'class': 'form-control w-100 p-2 rounded-2 bg-light text-secondary'}}) }}
        </div>
        <div class="col-lg-6 col-12 mb-3">
            {{ form_label(form.Logo, "Logo de la marque", {'attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.Logo, {'attr': {'class': 'form-control w-100 p-2 rounded-2 bg-light text-secondary'}}) }}
        </div>
        <div class="col-12 mb-3">
            {{ form_label(form.description, "Description de la marque", {'attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control w-100 p-2 rounded-2 bg-light text-secondary', 'rows': "9"} }) }}
        </div>
    </div>        
        <!-- Le bouton envoyé -->
        <div class="d-flex align-items-center justify-content-center">
            <button class="btn btn-warning text-white w-25 align-self-center mb-4">{{ button_label|default('Envoyer') }}</button>
        </div>
    {{ form_end(form) }}
    <div class="text-center">
        {% if brand.id is not empty %}
            {{ include('brand/_delete_form.html.twig') }}
        {% endif %}
        <a href="{{ path('brand_index') }}" class="text-white fs-4 fw-bold">Retour à la liste</a>

    </div>
</section>
