{% extends 'base.html.twig' %}

{% block title %}La Nimes'alerie - liste des catégories{% endblock %}

{% block body %}
    <section class="container-fluid g-0">
        <h1 class="text-secondary fw-bold text-center my-5">Liste des catégories</h1>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="d-flex justify-content-center align-items-center flex-column">
                <div>Vous pouvez ajouter une catégorie</div>
                <a href="{{ path('category_new') }}" class="text-white bg-danger p-3 rounded-2 my-3" >Ajouter une catégorie</a>
            </div>
        {% endif %}
        <div class="align-items-center justify-content-center m-lg-4 m-2 mt-2">
            {% for animal in categories %}
                {% if animal.idcategoryparent is empty %}
                    <div class="row row-cols-lg-5 row-cols-md-2 row-cols-1 bg-secondary text-white rounded-3 p-3 m-3 d-flex justify-content-between align-items-center">
                        <h2 class="col-12 col-md-12 col-lg-12 mb-3 fw-bold text-center">{{ animal.namecategory|upper }}</h2>
    
                        {% for mainCategory in categories %}
                            {% if mainCategory.idcategoryparent is not empty and animal.idcategory == mainCategory.idcategoryparent.idcategory %} 
                                <div class="col d-flex flex-column align-items-lg-center py-2 py-lg-0">
                                    <div>
                                        <h3 class="fs-6 fw-bold text-warning">{{ mainCategory.namecategory|upper }}</h3>
    
                                        {% for subCategory in categories %}
                                            {% if subCategory.idcategoryparent is not empty and mainCategory.idcategory == subCategory.idcategoryparent.idcategory %}
                                                <div class="d-flex align-items-center justify-content-between">
                                                    {{ subCategory.namecategory }}
                                                
                                                {% if is_granted('ROLE_ADMIN') %}
                                                    <div class="d-flex m-1">
                                                        <a href="{{ path('category_edit', {'idcategory': subCategory.idcategory}) }}" class="text-white p_edit_button rounded-3 p-1 px-2 mx-1">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                                            </svg>
                                                        </a>
                                                        {% if subCategory.idcategory is not empty %}
                                                            {{ include('category/_delete_form.html.twig') }}
                                                        {% endif %}
                                                        
                                                    </div>
                                                  
                                                {% endif %}
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
    
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>
{% endblock %}
