{% extends "base.html.twig" %}
{% block body %}
<title>La Nimes'alerie - liste des catégories</title>
<section class="container-fluid g-0">
    <h1 class="text-secondary fw-bold text-center my-5">Liste des catégories</h1>
    <div class="d-flex justify-content-center align-items-center flex-column">
        <div>Vous pouvez ajouter une catégorie</div>
        <a href="{{ path('app_addCategory') }}" class="text-white bg-danger p-3 rounded-2 my-3" >Ajouter une catégorie</a>
    </div>
    <div class="align-items-center justify-content-center m-5 mt-2">
        {% for animal in categories %}
            {% if animal.idcategoryparent is empty %}
                <div class="row bg-secondary text-white rounded-3 p-3 m-3 d-flex justify-content-between align-items-center">
                    <h2 class="col-12 fw-bold text-center">{{ animal.namecategory|upper }}</h2>
                    {% for mainCategory in categories %}
                        {% if mainCategory.idcategoryparent is not empty and animal.idcategory == mainCategory.idcategoryparent.idcategory %}
                            <div class="col d-flex flex-column m-2">
                                <h3 class="fs-6 fw-bold text-warning">{{ mainCategory.namecategory|upper }}</h3>
                                {% for subCategory in categories %}
                                    {% if subCategory.idcategoryparent is not empty and mainCategory.idcategory == subCategory.idcategoryparent.idcategory %}
                                        <div class="d-flex">
                                            <div>{{ subCategory.namecategory|upper }}</div>
                                            <a href="{{ path('app_deleteCategory', {'idcategory': subCategory.idcategory}) }}" class="text-secondary bg-white rounded-3 px-2 mx-2">D</a>
                                            <a href="{{ path('app_updateCategory', {'idcategory': subCategory.idcategory}) }}" class="text-secondary bg-white rounded-3 px-2 mx-2">M</a>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</section>
{% endblock %}