{% extends 'base.html.twig' %}

{% block title %}La Nimes'alerie - {{title}}{% endblock %}

{% block body %}
    <section class="d-flex flex-column align-items-center my-5 text-secondary">
        <h1>Contactez notre SAV</h1>
        <p class="py-3">Pour nous faire parvenir une demande de sav veuillez remplir le formulaire ci-dessous</p>
        {{ form_start(form, {'attr': {'class': 'd-flex flex-column'}, 'method': 'POST'}) }}
            <div class="mb-3"> <!-- Input du form pour Nom -->
                {{ form_label(form.NumeroCommande, "Votre N° de Commande", {'attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.NumeroCommande, {'attr': {'class': 'form-control w-100 p-2 rounded-2'}}) }}
            </div>
            <div class="mb-3"> <!-- Input du form pour L'email-->
                {{ form_label(form.Email, "Votre Email", {'attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.Email, {'attr': {'class': 'form-control w-100 p-2 rounded-2'}}) }}
            </div>
            <div class="mb-3"> <!-- Le select -->
                {{ form_label(form.Sujet, "Sujet : ", {'attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.Sujet, {'attr': {'class': 'form-select mb-3 w-100 p-2 rounded-2 text-secondary'}}) }}
            </div>
            <div class="mb-3"> <!-- Le textarea pour le message -->
                {{ form_label(form.Message, "Votre Message : ", {'attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.Message, {'attr': {'class': 'form-control'}}) }}
            </div>
            <!-- Le bouton envoyé -->
            {{ form_widget(form.Envoyer, {'attr': {'class': 'btn btn-warning text-white w-50 align-self-center'}, "label": "Valider"}) }}
        {{ form_end(form) }}
    </section>
{% endblock %}