{% extends 'base.html.twig' %}

{% block body %}
<title>La Nimes'alerie - liste des produits</title>
<section class="container-fluid g-0">
    <h1 class="text-secondary fw-bold text-center my-5">Liste de produits</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="d-flex justify-content-center align-items-center flex-column">
            <div>Vous pouvez ajouter un produit</div>
            <a href="{{ path('product_new') }}" class="text-white bg-danger p-3 rounded-2 mb-5" >Ajouter un produit</a>
        </div>
    {% endif %}
    <div class="align-items-center justify-content-center m-5">
    {% for product in products %}
        <div class="text-white row row-cols-2 bg-secondary rounded-3 p-3 d-flex col-12 m-1">
            <h1 class="fw-bold fs-3 text-warning col-12 my-3">{{ product.nameproduct }}</h1>
            <div class="col-4 my-3">
                <img src="{{ asset ('images/photo_produit/7613033136351_PHOTOSITE_20200324_164154_0.jpg') }}" class="img-fluid perso_width_img_produit" alt="">
            </div>
            <div class="col-8 my-3">
                <div class="mb-2"><strong>Nom du produit : </strong>{{ product.nameproduct }}</div>
                <div class="mb-2"><strong>Marque du produit : </strong>{{ product.brandproduct }}</div>
                <div class="mb-2"><strong>Prix TTC du produit : </strong>{{ (product.htproduct * 1.2)|format_number({fraction_digit: 2})}}€</div>
                <div class="mb-2"><strong>Poids du produit : </strong>{{ product.qtyproduct }} kg</div>
                <div class="mb-2"><strong>description rapide du produit : </strong>{{ product.quickdescript }}</div>
                <div class="mb-2"><strong>description du produit : </strong>{{ product.descriptionproduct }}</div>
            </div>
            <div class="col-12 py-2 d-flex align-items-center">
                <div class="color_product_list_admin"><a href="{{ path('product_show', {'idproduct': product.idproduct}) }}" class="p-3 rounded-2 me-1 fw-bold" >Voir la suite</a></div>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="color_product_list_admin"><a href="{{ path('product_edit', {'idproduct': product.idproduct}) }}" class="p-3 rounded-2 me-1 fw-bold" >Modifier</a></div>

                    <form class="align-self-end" method="post" action="{{ path('product_delete', {'idproduct': product.idproduct}) }}" onsubmit="return confirm('êtes vous sur de vouloir supprimer le produit ?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.idproduct) }}">
                        <button class="btn rounded-2 fw-bold delete_button">Supprimer</button>
                    </form>

                {% endif %}
            </div>
        </div>
    {% endfor %}
</section>
{% endblock %}
