{% extends 'base.html.twig' %}

{% block title %}La Nimes'alerie - Mon Compte{% endblock %}

{% block body %}

<pre>
    {{ dump(orders) }}
</pre>

<section class="container-fluid row row-cols-2">
    <div class="col-2 p-3 mt-4">
        <a href="#infos"><div class="text-secondary fs-5 p-1">Mes informations</div></a>
        <a href="#orders"><div class="text-secondary fs-5 p-1">Mes commandes</div></a>
        <a href="#baskets"><div class="text-secondary fs-5 p-1">Mes paniers</div></a>
{#         <a href="#"><div class="text-secondary fs-5 p-1">Bon d'achat et avoirs</div></a>
        <a href="#"><div class="text-secondary fs-5 p-1">Mes paramètres</div></a> #}
    </div>

    <div class="col-10 row row-cols-2">
        <div class="row align-items-center my-5 bg-secondary rounded-3 text-white py-4 w-100" id="infos">
            {% if is_granted('ROLE_ADMIN') %}
            <div class="col-12 bg-light rounded-3 d-flex justify-content-center align-items-center flex-column">
                <div class="text-secondary fs-4 pt-2">En tant qu'administrateur vous pouvez accéder à la liste des utilisateurs ainsi qu'au dashboard</div>
                <div class="py-5">
                    <a href="{{ path('user_admin_index') }}" class="text-white bg-danger p-3 rounded-2 my-3" >UTILISATEURS</a>
                    <a href="http://localhost:4200/" target="_blank" class="text-white bg-danger p-3 rounded-2 my-3" >DASHBOARD</a>
                </div>
            </div>
            {% endif %}
            <h2 class="col-12 text-center my-5">Informations personnelles</h2>
            <!-- PREMIERE PARTIE -->
            <div class="col">
        
                <div class="mb-3">
                    <div class="form-label">Adresse mail</div>
                    <div class="form-control">{{ app.user.emailuser }}</div>
                </div>
                <div class="mb-3">
                    <div class="form-label">Date de naissance</div>
                    <div class="form-control">{{ app.user.birthuser|date('d-m-Y') }}</div>
                </div>
                {% if app.user.gender == "Homme" %}
                    <div class="mb-3">
                        <div class="form-label">Civilité</div>
                        <div class="form-control">Homme</div>
                    </div>
                {% endif %}
                {% if app.user.gender == "Femme" %}
                    <div class="mb-3">
                        <div class="form-label">Civilité</div>
                        <div class="form-control">Femme</div>
                    </div>
                {% endif %}
            </div>
            <!-- SECONDE PARTIE -->
            <div class="col">
                <div class="mb-3">
                    <div class="form-label">Prénom</div>
                    <div class="form-control">{{ app.user.firstnameuser }}</div>
                </div>
                <div class="mb-3">
                    <div class="form-label">Nom</div>
                    <div class="form-control">{{ app.user.lastnameuser }}</div>
                </div>
                {% if app.user.phonemobileuser is not empty %}
                    <div class="mb-3">
                        <div class="form-label">Numéro de téléphone</div>
                        <div class="form-control">{{ app.user.phonemobileuser }}</div>
                    </div>
                {% endif %}
            </div>
            {% if app.user.emailuser == iduser.emailuser %}
                <div class="my-3 d-flex justify-content-center">
                    <div class="btn btn-warning">
                        <a href="{{ path('useraccount_edit', {'emailuser': app.user.emailuser}) }}" class="p-3 rounded-2 me-1 fw-bold text-white" >Modifier</a>
                    </div>  
                </div>
            {% endif %}
        </div>

        <div class="col-12 row bg-secondary rounded-3 flex-column mb-5">
            <h3 class="text-white text-center mt-3">Changer de mot de passe</h3>
            <div class="my-3 d-flex justify-content-center">
                <div class="btn btn-warning">
                    <a href="{{ path('useraccount_password', {"emailuser": app.user.emailuser} ) }}" class="p-3 rounded-2 me-1 fw-bold text-white" >Modifier</a>
                </div>  
            </div>
        </div>
        <!-- ADRESSE -->
        <div class="col-12 row bg-secondary rounded-3 flex-column mb-5">
            <h3 class="text-white text-center mt-3">Vos Adresses</h3>
            <div class="my-3 d-flex justify-content-center">
                <div class="btn btn-warning">
                    <a href="{{ path('address_new') }}" class="p-3 rounded-2 me-1 fw-bold text-white" >Ajouter</a>
                </div>  
            </div>
            <div class="row row-cols-4">
                {% for address in addresses %}
                    {% if address.iduser.iduser == app.user.iduser %}
                        <div class="col">
                            <div class="col row bg-light w-100 align-self-center text-secondary g-0">
                                <div class="bg_delivery_body p-3">
                                    <div>{{ app.user.firstnameuser }} {{ app.user.lastnameuser }}</div>
                                    <div>{{ address.postadress }}</div>
                                    <div>{{ address.cpadress }}</div>
                                    <div>{{ address.postadress2 }}</div>
                                    <div>{{ address.countryadress }}</div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="me-3">
                                    <div class="btn btn-warning">
                                        <a href="{{ path('address_edit', {'idadress': address.idadress}) }}" class="p-3 rounded-2 me-1 text-white" >Modifier</a>
                                    </div>
                                </div>
                                <div>
                                    {{ include('address/_delete_form.html.twig') }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-12 w-100">
            <div class="text-secondary text-center my-5" id="baskets">
                <h2 class="fs-1">Commande en cours</h2>
                {% set break = false %}
                {% for order in orders %}
                    {% if order.iduser.iduser == app.user.iduser and break != true %}
                        <div class="fs-2">{{ order.iduser|length }}</div>
                        {% set break = true %}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="text-secondary" id="orders">
                <h2 class="fs-1 text-center mb-5">Historique des commandes</h2>
                <!-- ITEM -->
                {% for order in orders %}
                    {% if order.iduser.iduser == app.user.iduser %}
                        <div>
                            <div class="d-flex row text-center p-3">
                                <div class="col-1">#1</div>
                                <div class="col-3">N°{{ order.idorder }}</div>
                                <div class="col-3">197€80 TTC</div>
                                <div class="col-3">Expédiée le 13/02/2017</div>
                                <div class="accordion accordion-flush col-2" id="accordionFlush{{order.idorder}}">
                                    <h2 class="accordion-header d-flex justify-content-center align-items-center" id="flush-heading{{order.idorder}}">
                                        <button class="btn collapsed p-0 perso_accordion_b_produit text-secondary d-flex colorTrigger" id="colorTrigger1" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{order.idorder}}" aria-expanded="false" aria-controls="flush-collapse{{order.idorder}}">
                                            <div>Détails</div>
                                            <div>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#FDAB91" class="bi bi-caret-down mx-3" id="fadeColorBill" viewBox="0 0 16 16">
                                                <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                                            </svg>
                                            </div>
                                        </button>
                                    </h2>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <div id="flush-collapse{{order.idorder}}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{order.idorder}}" data-bs-parent="#flush-heading{{order.idorder}}">
                                    <div class="accordion-body">
                                        <div class="my-2">Mode de paiement : <strong>{{ order.idpayment.namepayment|title }}</strong></div>
                                        <div class="my-2">Mode de livraison : <strong>Livraison Chronopost Express (13h)</strong></div>
                                        {% for item in order.productOrders.snapshot %}
                                            <pre>
                                                {{ dump(item) }}
                                            </pre>
                                            <div class="d-flex row align-items-center justify-content-center border-top">
                                                <div class="col-7"><img src="" alt="croquette de chat"></div>
                                                <div class="col-2 text-end">{{ item.quantity }}</div>
                                                <div class="col-3 text-end"></div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="row">
                                        <div class="col-8"></div>
                                        <div class="col-4">
                                            <div class="d-flex justify-content-between my-1 p-2">
                                                <div>Frais de port</div>
                                                <div>Gratuit</div>
                                            </div>
                                            <div class="d-flex justify-content-between my-1 bg-warning p-2 text-white fw-bold">
                                                <div>Total de la commande</div>
                                                <div>197€80</div>
                                            </div>
                                            <div class="text-end"><a href="#" class="text-secondary">Télécharger la facture</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<script src="{{ asset('script/animDetailOrderButton.js') }}"></script>

{% endblock %}
