{% extends 'base.html.twig' %}

{% block title %}Changer votre mot de passe{% endblock %}

{% block body %}
<div class="container-fluid g-0">
    <h1 class="m-5 text-secondary text-center">Changer votre mot de passe</h1>
    <div class="d-flex flex-column align-items-center my-5 text-secondary">
        {{ form_start(form, {'attr': {'class': 'd-flex flex-column'}, 'method': 'POST'}) }}
        <div class="mb-3">
            {{ form_label(form.pwduser, "Saisissez l'ancien mot de passe", {'attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.pwduser, {'attr': {'class': 'form-control'}}) }}
            <div class="text-danger fw-bold" id="pwdConstraint">
                {{ form_errors(form.pwduser, {'attr': {'class': 'p-0'}}) }}
            </div>
        </div>
        <div class="mb-3">
            {{ form_label(form.plainPassword.first, "Saisissez le nouveau mot de passe", {'attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.plainPassword.second, "Répétez le nouveau mot de passe", {'attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
        </div>
        <button class="btn btn-warning text-white">Confirmer</button>
    {{ form_end(form) }}
    </div>
</div>
{% endblock %}
