{% extends 'base.html.twig' %}

{% block title %}Orders index{% endblock %}

{% block body %}
    <h1>Orders index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idorder</th>
                <th>Promoorder</th>
                <th>Orderdate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.idorder }}</td>
                <td>{{ order.promoorder }}</td>
                <td>{{ order.orderdate ? order.orderdate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('orders_show', {'idorder': order.idorder}) }}">show</a>
                    <a href="{{ path('orders_edit', {'idorder': order.idorder}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('orders_new') }}">Create new</a>
{% endblock %}
