{% block fullDescription %}
<section class="container-fluid text-secondary">
    <div class="mx-lg-5 mx-1">
        <h2 class="my-5 fs-1 fw-bold">Description</h2>
    <p>{{ product.descriptionproduct }}</p>
    <p>{{ product.descriptionproduct2 }}</p>
    <p>{{ product.descriptionproduct3 }}</p>
    <p>{{ product.descriptionproduct4 }}</p>
    </div>
    <div class="accordion accordion-flush mx-lg-5 mx-2 my-5" id="accordionExample">
        <div class="accordion-item border-0">
            <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button fs-3  text-secondary perso_accordion_b_produit" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Caractéristiques
            </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p><strong>MARQUE :</strong> {{ product.brandproduct }}</p>
                <p><strong>SAVEUR :</strong> {{ product.saveur|capitalize }}</p>
                <p><strong>TYPE D'ALIMENT :</strong> {# {{ product.idcategory }} #}</p>
                <p><strong>TAILLE :</strong> {{product.qtyproduct }} kg</p>
            </div>
            </div>
        </div>
        <div class="accordion-item border-0">
            <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed fs-3 text-secondary perso_accordion_b_produit" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">               
                Composition
            </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body perso_accordion_size">
                {{ product.composition }}
            </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}