{% block quickDescription %}
<section class="container-fluid row row-cols-lg-2 text-secondary mt-5 px-md-4 ps-2 pe-0">
    <div class="col-lg-4 col-md-5 col-12">
        <div class="row justify-content-center">
            <div>
                <h1 class="fw-bold fs-5 text-center p-0 mb-5 d-block d-md-none">{{ product.nameproduct }} - {{ product.qtyproduct }} kg</h1>
            </div>    
            <div class="product perso_width_img_produit_parent">
                <div class="column-xs-12 column-md-7">
                    <div>
                        <div class="product-image" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            <img src="{{ asset('upload/' ~ product.image1) }}" alt="'image 1 de : ' {{ product.nameproduct }}" class="active w-100">
                        </div>
                        <ul class="image-list d-flex">
                            <li class="image-item mx-3">
                                {% if product.image1 is not empty %}
                                    <img src="{{ asset('upload/' ~ product.image1) }}" alt="'image 1 de : ' {{ product.nameproduct }}" class="produit_photo_produit">
                                {% endif %}
                            </li>
                            <li class="image-item mx-3">
                                {% if product.image2 is not empty %}
                                    <img src="{{ asset('upload/' ~ product.image2) }}" alt="'image 2 de : ' {{ product.nameproduct }}" class="produit_photo_produit">
                                {% endif %}
                            </li>
                            <li class="image-item mx-3">
                                {% if product.image3 is not empty %}
                                    <img src="{{ asset('upload/' ~ product.image3) }}" alt="'image 3 de : ' {{ product.nameproduct }}" class="produit_photo_produit">
                                {% endif %} 
                            </li>
                            <li class="image-item mx-3">
                                {% if product.image4 is not empty %}
                                    <img src="{{ asset('upload/' ~ product.image4) }}" alt="'image 4 de : ' {{ product.nameproduct }}" class="produit_photo_produit">
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="modal" id="staticBackdrop">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div id="carouselExampleControls" class="carousel slide carousel-dark" data-interval="false">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        {% if product.image1 is not empty %}
                                            <img src="{{ asset('upload/' ~ product.image1) }}" alt="'image 1 de : ' {{ product.nameproduct }}" class="d-block w-100">
                                        {% endif %}
                                    </div>
                                    <div class="carousel-item">
                                        {% if product.image2 is not empty %}
                                            <img src="{{ asset('upload/' ~ product.image2) }}" alt="'image 2 de : ' {{ product.nameproduct }}" class="d-block w-100">
                                        {% endif %}
                                    </div>
                                    <div class="carousel-item">
                                        {% if product.image3 is not empty %}
                                            <img src="{{ asset('upload/' ~ product.image3) }}" alt="'image 3 de : ' {{ product.nameproduct }}" class="d-block w-100">
                                        {% endif %}
                                    </div>
                                    <div class="carousel-item">
                                        {% if product.image4 is not empty %}
                                            <img src="{{ asset('upload/' ~ product.image4) }}" alt="'image 7 de : ' {{ product.nameproduct }}" class="d-block w-100">
                                        {% endif %}
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon me-4" aria-hidden="true"></span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-8 col-md-7 col-12">
        <div class="row">
            <div class="col-12">
                <h1 class="fw-bold fs-4 d-md-block d-none">{{ product.nameproduct }} - {{ product.qtyproduct }} kg</h1>
            </div>
            <div class="col-12 row align-items-center mt-4">
                <div class="col-lg-6 col-12 d-flex align-items-center flex-md-row flex-column">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#FDAB91" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#FDAB91" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#FDAB91" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#FDAB91" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#FDAB91" class="bi bi-star-half" viewBox="0 0 16 16">
                            <path d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z"/>
                        </svg>
                    </div>
                    <div class="ms-3 fs-4">280 avis</div>
                </div>
                <div class="col-6 d-flex align-items-end justify-content-center my-lg-0 my-2">
                    <div class="fs-1 fw-bold text-warning">{{ (product.htproduct * 1.2)|format_number({fraction_digit: 2})}}€<span class="text-secondary fs-6 fw-light">TTC</span></div>
                    
                </div>
            </div>
            <div class="col-12 perso_stock_color fs-5 fw-bold">en stock</div>
            <div class="col-12">
                <div class="d-flex mt-4">
                    <img src="{{ asset ('icon/produit/Group-camion.svg') }}" alt="logo camion">
                    <div class="ms-3">Livraison à domicile sans frais</div>
                </div>
                <div class="d-flex">
                    <img src="{{ asset ('icon/produit/Group-cb.svg') }}" alt="logo cb">
                    <div class="ms-3">Paiement sécurisé Paypal et CB  </div>
                </div>
            </div>
            <div class="col-12 d-lg-none d-flex justify-content-end">
                <a href="{{ path('basket_add', {'id': product.idproduct}) }}" class="btn btn-warning text-white btn-lg mt-4 fw-bold">Ajouter au Panier</a>
            </div>
            <div class="col-12 fw-bold mt-5 fs-5 d-lg-block d-none">
                {{ product.quickdescript }}            
            </div>
            <div class="col-12 d-lg-flex d-none justify-content-end">
                <a href="{{ path('basket_add', {'id': product.idproduct}) }}" class="btn btn-warning text-white btn-lg mt-4 fw-bold">Ajouter au Panier</a>
            </div>
        </div>
    </div>
    <div class="col-12 fw-bold mt-5 fs-5 d-lg-none d-block text-center"> {{ product.quickdescript }} </div>
</section>
{% endblock %}