{% block tendance %}
<section class="container-fluid g-0 text-secondary">

    <div class="row align-items-center justify-content-center mt-5  g-0">

        {% for category in categories %}

            {% if category.namecategory == "chien" %}
                <div class="col">
                    <a href="{{ path('category_show', {'idcategory': category.idcategory}) }}" class="text-secondary d-flex flex-column justify-content-center align-items-center">
                        <img src="{{ asset ("icon/icon_dog.svg") }}" alt="logo section {{ category.namecategory }}" class="perso_svg">
                        <h5 class="fs-5 perso_categorie_title m-0">{{ category.namecategory }}</h5>
                    </a>
                </div>
            {% endif %}

            {% if category.namecategory == "chat" %}
                <div class="col">
                    <a href="{{ path('category_show', {'idcategory': category.idcategory}) }}" class="text-secondary d-flex flex-column justify-content-center align-items-center">
                        <img src="{{ asset ("icon/icon_cat.svg") }}" alt="logo section {{ category.namecategory }}" class="perso_svg">
                        <h5 class="fs-5 perso_categorie_title m-0">{{ category.namecategory }}</h5>
                    </a>
                </div>
            {% endif %}
            
            {% if category.namecategory == "rongeur" %}
                <div class="col">
                    <a href="{{ path('category_show', {'idcategory': category.idcategory}) }}" class="text-secondary d-flex flex-column justify-content-center align-items-center">
                        <img src="{{ asset ("icon/icon_rongeur.svg") }}" alt="logo section {{ category.namecategory }}" class="perso_svg">
                        <h5 class="fs-5 perso_categorie_title m-0">{{ category.namecategory }}</h5>
                    </a>
                </div>
            {% endif %}

            {% if category.namecategory == "oiseau" %}
                <div class="col">
                    <a href="{{ path('category_show', {'idcategory': category.idcategory}) }}" class="text-secondary d-flex flex-column justify-content-center align-items-center">
                        <img src="{{ asset ("icon/icon_bird.svg") }}" alt="logo section {{ category.namecategory }}" class="perso_svg">
                        <h5 class="fs-5 perso_categorie_title m-0">{{ category.namecategory }}</h5>
                    </a>
                </div>
            {% endif %}

            {% if category.namecategory == "reptile" %}
                <div class="col">
                    <a href="{{ path('category_show', {'idcategory': category.idcategory}) }}" class="text-secondary d-flex flex-column justify-content-center align-items-center">
                        <img src="{{ asset ("icon/icon_reptile.svg") }}" alt="logo section {{ category.namecategory }}" class="perso_svg">
                        <h5 class="fs-5 perso_categorie_title m-0">{{ category.namecategory }}</h5>
                    </a>
                </div>
            {% endif %}

            {% if category.namecategory == "poisson" %}
                <div class="col">
                    <a href="{{ path('category_show', {'idcategory': category.idcategory}) }}" class="text-secondary d-flex flex-column justify-content-center align-items-center">
                        <img src="{{ asset ("icon/icon_fish.svg") }}" alt="logo section {{ category.namecategory }}" class="perso_svg">
                        <h5 class="fs-5 perso_categorie_title m-0">{{ category.namecategory }}</h5>
                    </a>
                </div>
            {% endif %}

        {% endfor %}
        
    </div>

    <h1 class="fw-bold text-center my-5">Tendances</h1>

    <div class="row row-cols-lg-5 row-cols-md-4 row-cols-2 align-items-center justify-content-center g-0 mx-3">
        {% for product in products %}
            <div class="col">
                <div class="d-flex flex-column justify-content-between p_borders rounded-3 m-2">

                        <div class="my-3 d-flex justify-content-center align-items-center">
                            <a href="{{ path('product_show', {'idproduct': product.idproduct}) }}" class="text-secondary p-2 ">
                                <img src="{{ asset('upload/' ~ product.image1) }}" class="product_img_size flex-1" alt="{{ product.brandproduct }}">
                            </a>
                        </div>
                        <div class="text-center my-4 flex-0">
                                <div class="text-warning fw-bold">
                                    <a href="{{ path('product_show', {'idproduct': product.idproduct}) }}" class="text-secondary p-2">{{ product.brandproduct }}</a>
                                </div>
                                <div class="mb-2 p_product_list_name">
                                    <a href="{{ path('product_show', {'idproduct': product.idproduct}) }}" class="text-secondary p-2">{{ product.nameproduct }}{% if product.qtyproduct != null %} - {{ product.qtyproduct }} kg{% endif %}</a>
                                </div>
                        </div>
         
                    <div class="row py-2 align-items-center justify-content-center bg-secondary g-0 p_product_list_round">

                        <a href="#" class="p-2 fw-bold text-white d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center ms-2">
                                <div class="bg-warning rounded-3 p-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-cart" viewBox="0 0 16 16">
                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                    </svg>
                                </div>
                            </div>
                            <span class="text-warning me-2">{{ (product.htproduct * 1.2)|format_number({fraction_digit: 2})}}€</span>
                        </a>
    
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}